@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
  background: gray;
}

@keyframes sparkeanim {
  0% {
    top: var(--topstart);
    left: 2rem;
  }
  50% {
    left: 0rem;
  }
  100% {
    opacity: 0;
    top: var(--topend);
    left: -1rem;
  }
}
@keyframes sparkeanimright {
  0% {
    top: var(--topstart);
    right: 2rem;
  }
  50% {
    right: 0rem;
  }
  100% {
    opacity: 0;
    top: var(--topend);
    right: -1rem;
  }
}
